fastapi
uvicorn[standard]
python-multipart
pypdf
python-docx
langchain
langchain-community
langchain-chroma
langchain-google-genai
# aiofiles
# chromadb
# sentence-transformers
# torch
# transformers
# tqdm